.flex-wrap {
  display: flex;
  background-color: DodgerBlue;
}

.flex-wrap > div {
  padding: 10px;
  background-color: #fff;
  margin: 10px;
}

.flex-wrap-prop {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-flow-wrap {
  flex-flow: row wrap;
}

span {
  color: rgb(192, 19, 19);
  font-weight: bold;
}
